* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    --navHeight: 64px;

    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-div {
    display: flex;
    align-items: stretch;
    flex: 1;
}

.main-child {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #99bbf2;
    flex: 1;
}

.top {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;

}

.bottom {
    max-height: 40%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.landing-text {
    width: 65%;
    height: 100%;
    padding-top: 10%;
    padding-right: 2.5%;
    color: white;
}

.landing-text p {
    padding-bottom: 5%;
}

.landing-title {
    text-shadow: 0.5px 0 0 #000, 0 -0.5px 0 #000, 0 0.5px 0 #000, -0.5px 0 0 #000;
    padding-bottom: 2%;
}

.landing-image {
    width: 35%;
    height: 100%;
    padding-top: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-image img {
    max-width: 280px;
    max-height: 280px;
}