* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #root {
    --navHeight: 64px;

    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-div {
    display: flex;
    align-items: stretch;
    flex: 1;
}

.main-child {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #99bbf2;
    flex: 1;
}

.top {
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.bottom {
    height: 50%;
    width: 100%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}